body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.nav-wrapper {
  background-color: beige !important;
  font-size: 14px;
  font-weight: bold;
}

.black-text li a {
  color: black;
}
