body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.carousel .carousel-item {
  width: 700px !important;
  height: 500px !important;

  transition: opacity 0.1s ease-in-out 0s;
}

h4 {
  font-family: 'cochin regular';
  text-align: center;
}
.nav-wrapper {
  background-color: whitesmoke !important;
  font-size: 90px !important;
  /* font-weight: bold; */
  font-family: 'Hoefler Text';
  height: 100%;
  /* text-transform: uppercase; */
}
.v-align wrapper {
  height: 100%;
}
.black-text li a {
  color: black;
}
nav {
  height: 60px !important;
}
<<<<<<< HEAD
.cart {
  font-family: 'cochin-regular';
  text-align: center;
  font-size: 20px;
}
.container {
  padding-top: 10px;
}
.img {
  height: 50px;
  width: 50px;
=======

h4 {
  font-family: 'Hoefler Text';
  height: 100%;
}
table {
  font-family: 'Hoefler Text';
  font-size: 20px;
>>>>>>> 7d8aaf655e40d92654612628863cd319677c634b
}
