body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.carousel .carousel-item {
  width: 700px !important;
  height: 500px !important;

  transition: opacity 0.1s ease-in-out 0s;
}

.nav-wrapper {
  background-color: whitesmoke !important;
  font-size: 90px !important;
  /* font-weight: bold; */
  font-family: 'Hoefler Text';
  height: 100%;
  /* text-transform: uppercase; */
}
.v-align wrapper {
  height: 100%;
}
.black-text li a {
  color: black;
}
nav {
  height: 60px !important;
}

h4 {
  font-family: 'Hoefler Text';
  height: 100%;
}
table {
  font-family: 'Hoefler Text';
  font-size: 20px;
}
